* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    --grid-cols: 1 !important;
    --grid-rows: 1 !important;
} */

body {
    background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364   );
}

h1 {
    color: #fff;
}



.container {
    
}


/* Squares */
.boxes {
    margin: 50px 0px 0px 150px;
    display: grid;
    gap: 0;
    height: 500px;
    width: 500px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: #dee2e6;
}

.squares {
    border: 1px solid #f1f3f5;
}

button {
    cursor: pointer;
}

